# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LudumDare47.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Dev\unity\Ludumdare47\.idea\.idea.LudumDare47\.idea/dataSources/
/dataSources.local.xml
